html {
  background-color: #f8f9fa;
}

body {
  margin: auto;
  max-width: 1350px;
  font-family: "Inter", sans-serif;
}

/* nav */

.navbar {
  display: flex;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.navbar > * {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .icon img {
  margin: 10px;
}

.nav-item {
  margin-right: 30px;
  text-transform: uppercase;
  display: inline-flex;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.navbar button {
  cursor: pointer;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: inherit;
}

.caret-down {
  background-image: url("./images/images/61dc3933141488d59361259c_DownIco.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 10px;
  display: inline-block;
  margin: auto;
}

/* grid section */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carousel {
  grid-column: 1 / 5;
  margin: 30px 10px;
  width: 90%;
  background-color: #dce5e2;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 25px;
}

.carousel-info {
  padding: 30px;
}

.carousel-info > * {
  display: flex;
  margin: 10px;
}

.carousel-info .title {
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

.carousel-info button {
  cursor: pointer;
  font-family: "Readex Pro", sans-serif;
  font-size: 1.1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 150px;
  height: 50px;
  background-color: inherit;
  border-radius: 30px;
}

.carousel-image {
  width: 80%;
  height: 500px;
  background-image: url("./images/images/62337475ffd581b880e01bd8_First Slide Image (2).png");
  background-size: cover;
  background-position: center;
  background-color: inherit;
  border-radius: 25px;
}
