html {
  background-color: #f8f9fa;
}

body {
  margin: auto;
  max-width: 1350px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0px;
}

/* nav */

.navbar {
  display: flex;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.navbar > * {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .icon img {
  margin: 10px;
}

.nav-item {
  margin-right: 30px;
  text-transform: uppercase;
  display: inline-flex;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.navbar button {
  cursor: pointer;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: inherit;
}

.caret-down {
  background-image: url("./images/images/61dc3933141488d59361259c_DownIco.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 10px;
  display: inline-block;
  margin: auto;
}

/* grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px 0px;
  margin-top: 20px;
}

/* carousel */

.carousel {
  display: flex;
  grid-column: span 4;
  width: 90%;
  background-color: #dce5e2;
  place-items: center;
  border-radius: 25px;
}

.carousel-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.carousel-info > * {
  margin: 10px;
}

.carousel-info button {
  cursor: pointer;
  font-family: "Readex Pro", sans-serif;
  font-size: 1.1em;
  margin-top: 20px;
  background-color: inherit;
  border-radius: 30px;
  min-width: 150px;
  min-height: 50px;
  align-self: flex-start;
}

.carousel-image {
  display: flex;
  width: 80%;
  height: 500px;
  background-image: url("./images/images/62337475ffd581b880e01bd8_First Slide Image (2).png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border-radius: 25px;
}

/* categories section*/

.section-head {
  display: flex;
  flex-direction: column;
  font-family: "Readex Pro", sans-serif;
  grid-column: span 4;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  font-size: 12px;
  background-color: inherit;
}

.section-head span {
  width: 90%;
}

.category-head {
  font-size: 2.5em;
}

.laptops {
  display: flex;
  grid-column: span 2;
  justify-self: right;
  position: relative;
  width: 600px;
  height: 500px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.laptops div {
  flex-direction: column;
  text-align: right;
  position: absolute;
  width: 40%;
  bottom: 50px;
  right: 30px;
}

.laptops img {
  position: absolute;
  top: -30%;
  left: 10px;
  max-width: 500px;
}

.phones {
  display: flex;
  position: relative;
  grid-row: span 2;
  text-align: center;
  width: 300px;
  height: 800px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.phones img {
  position: absolute;
  top: 150px;
  left: 10px;
  max-width: 400px;
}

.phones div {
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  left: 30px;
  width: 80%;
}

.tablet {
  display: flex;
  position: relative;
  grid-row: span 2;
  justify-self: left;
  width: 300px;
  height: 800px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.tablet img {
  position: absolute;
  top: 300px;
  left: -50px;
  max-height: 400px;
  max-width: 1000px;
}

.tablet div {
  position: absolute;
  text-align: center;
  top: 150px;
}

.watch {
  display: flex;
  position: relative;
  grid-column: span 2;
  justify-self: right;
  width: 600px;
  height: 280px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.watch img {
  position: absolute;
  max-width: 400px;
}

.watch div {
  position: absolute;
  width: 150px;
  top: 100px;
  right: 25px;
}